<mat-toolbar color="primary">
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <carousel *ngIf="responseData">
   <slide *ngFor="let slide of responseData.results">     
      <div class="text-center py-5 bg-dark text-white slideimg" 
      [ngStyle]="{'background': '#fff url(' + imgprefix + slide.backdrop_path + ') no-repeat 0 0'}">
        <h2>{{slide.title ? slide.title : slide.name}}</h2>
        <div class="lead">
          <h3>Voted:{{slide.vote_count}} Popularity:{{slide.popularity}} IMDB:{{slide.vote_average}}</h3>
          <p>{{findGenre(slide.genre_ids,slide.title ? 'M':'T').join(', ')}}</p>
        </div>
      </div>
    </slide>
  </carousel>
</div>
